 * {
     box-sizing: border-box;
 }

 * {
     font-family: "Pretendard" !important;
     font-weight: 300;
     color: #333;
     letter-spacing: -0.3px;
     font-size: 14px;
 }

 #main {
     width: 80%;
     margin-left: 20%;
 }

 #main div.target {
     border-bottom: 1px solid #ccc;
 }



 #nav {
     width: 20%;
     height: 100%;
     background: white;
     float: left;
     position: fixed;
     border-right: 1px solid #ccc;
 }

 #nav nav {
     background: white;
 }

 #nav a {
     color: #333;
     background: white;
     padding: 20px;
     text-align: left;
     border-bottom: 1px solid #ccc;
     text-decoration: none;
     font-weight: 800;
     display: block;
     font-size: 15px;
 }

 #nav a span {
     color: #D82727;
     padding-right: 10px;
     font-weight: 800;
 }



 #nav a:hover,
 #nav a.active {
     background: #D82727;
     color: #fff;
 }


 #nav a:hover span,
 #nav a.active span {
     color: #fff;
 }


.logo{
    width: 300px;
    padding-top: 50px;
    padding-bottom: 300px;
    z-index: 100;
}

.text1 h1{
    font-size: 40px;
    color:#D82727;
    font-weight: 800;
    border-bottom: 3px solid #D82727;
    display: inline;
    padding: 4px 0;
}

.text1 h2{
    font-size: 50px;
    color: #333;
    font-weight: 800;
    padding: 70px 0 20px 0;
}

.text1 p{
    font-size: 17px;
    color: #7b7b7b;
    line-height: 27px;
}

.img1{
    width: 60%;
    height: 600px;
    background: #ccc;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
}

.con1{
    width: 100%;
    background-size:contain;
    background: url(cover2.jpg);
    padding: 30px 10%;
    background-repeat: no-repeat;
}

.con2{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 5%;
}
.text2{
    position: relative;
    padding: 30px 0;
}
.text2 h3{
    font-weight: 800;
    color: #D82727;
    padding-right: 10px;
    top:0;
    position: absolute;
    font-size: 17px;
}

.text2 h4{
    display: inline;
    font-size: 45px;
    font-weight: 700;
    position: absolute;
    left:30px;
    top: 0;
}

.con2 .text2 p{
    padding: 50px 0 ;
    color: #7b7b7b;
    line-height: 23px;
    font-size: 15px;
    text-align: left;
}

.product-title {
    text-align: center;
    display: table;
    width: 100%;
    max-height: 200px;
    padding: 50px 0 10px 0;
}

.product-img-div {
    display: table-cell;
    vertical-align: middle;
}

.product-img {
    width: 100%;
    
}

h1{
    font-size: 25px;
    padding: 10px 0;
    font-weight: 600;
    color: #AA8356;
    text-align: left;
}

p{
    font-size: 19px;
    line-height: 35px;
    text-align: left;
    padding-bottom: 50px;
}


.link{
    border-bottom: 1px solid #d4d4d4;display: inline;padding: 12px 0;font-size: 17px;font-weight: 900; text-align: center;
    
}

.link a{
    font-weight: 800;font-size: 20px;
    text-align: center;
}

.link img{
    width: 70px;padding: 8px 10px;
}

.swiper-container{
    cursor: pointer;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}
.swiper-button-prev{
    position: absolute;
}

.swiper-button-prev-active{
    color: red;
}


.swiper-slide{ 
}
.swiper-slide h4{
    font-size: 30px;
    font-weight: 800;
    padding: 
}

.swiper-slide img{
    width: 100%;
    padding: 10px 0;
}

:root {
  --swiper-pagination-color: #D82727;
  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bullet-vertical-gap: 20px;
}


.SNS{
    width: 300px;
    height: 300px;
    background: url(sns.png);
        background-size: cover;
    transition: 0.3s ease-in;
    color: #fff;
    float: left;
    cursor: pointer;
}

.SNS .SNS_hover h5{
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
}

.SNS .SNS_hover{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.72));
    opacity: 0;
    transition: all 0.3s ease-in;
    color: #fff;
    position: relative;
    
}

.SNS .SNS_hover p{
    color: #fff;
    bottom: 0;
    position: absolute;
    font-weight: 600;
}




.SNS:hover .SNS_hover{
    opacity: 1;
}
